<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="Connection" connectionString="server=localhost;port=3307;database=supermarket;uid=root;pwd=vas0404;pooling=true" providerName="MySql.Data.MySqlClient" />
    <add name="SupermarketEntities" connectionString="metadata=res://*/Supermarket-EF.Model.csdl|res://*/Supermarket-EF.Model.ssdl|res://*/Supermarket-EF.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Supermarket;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>