<form>
    <div><i class="icon-user"></i> <a href="#" id="getLoginForm">Login</a></div>
    <h3>Registration</h3>
    <input data-bind="value: username" type="text" class="input-block-level" placeholder="Username" />
    <input data-bind="value: displayName" type="text" class="input-block-level" placeholder="Display Name" />
    <input data-bind="value: password" type="password" class="input-block-level" placeholder="Password" />
    <input data-bind="value: mail" type="text" class="input-block-level" placeholder="Mail" />
    <input data-bind="value: phone" type="text" class="input-block-level" placeholder="Phone" />
    <input data-bind="value: location" type="text" class="input-block-level" placeholder="Location" />
    <button data-bind="events: {click: register}" class="btn btn-primary">Register</button>
</form>
